body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.slider-container {
  background-color: #EAF6FF;
  width: 60%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}

.testimonial {
  display: none;
  font-family: Georgia, serif;
  font-size: 18px;
  color: #333;
  text-align: center;
  padding: 20px;
}

.testimonial.active {
  display: block;
}

/* Navigation arrows */
.nav-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  cursor: pointer;
  color: #333;
  user-select: none;
  transition: color 0.5s;
}

.nav-arrow:hover {
  color: #0073e6;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

/* Pagination dots */
.pagination-dots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.pagination-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #333;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination-dot.active {
  background-color: #0073e6;
}